<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="6" name="ChromeTest">
<parameter  name="browserName" Value="Chrome"></parameter>
  <test name="Test">
    <classes>
      <class name="org.data.Facebook"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
